@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circular-image-container {
  width: 300px; 
  height: auto; 
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Ensure the image stays within the circular shape */
  position: relative; /* Make sure the image is positioned correctly */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); /* Add drop shadow */
  max-width: 100%;
}

.circular-image {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  object-position: center; /* Center the image within the container */
}

.main-name-title {
  text-align: left;
}

.main-hover-link {
  transition: color 0.3s; /* Apply a transition effect to the color change */
}

.main-hover-link:hover {
  color: blue; /* Set the color of the link when hovering over it */
}

.main-blurb {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 15px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  transition: background-color 0.3s;
}

.main-blurb:hover {
  background-color: rgb(240, 240, 240);
}


.main-blurb-text {
  color:rgb(128, 128, 128);
  max-width: 850px;
  text-align: center;
  font-family: 'Arial';
  margin-bottom: 0px;
  font-size: 22px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main-blurb-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main-blurb-text {
    font-size: 16px;
  }
}