@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circular-image-container {
  width: 300px; /* Adjust the width of the container as needed */
  height: 300px; /* Adjust the height of the container as needed */
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Ensure the image stays within the circular shape */
  position: relative; /* Make sure the image is positioned correctly */
}

.circular-image {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  object-position: center; /* Center the image within the container */
}

.main-name-title {
  text-align: left;
}
